In [2]:
# Standard Library
import datetime
import io
import os
import random
import sys
import warnings

from datetime import datetime, timedelta
from pathlib import Path

# Data Handling
import numpy as np
import pandas as pd

# Data Visualization
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns
from matplotlib.ticker import FormatStrFormatter, FuncFormatter, MultipleLocator

# Data Sources
import yfinance as yf

# Statistical Analysis
import statsmodels.api as sm

# Machine Learning
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Suppress warnings
warnings.filterwarnings("ignore")

In [3]:
# Add the source subdirectory to the system path to allow import config from settings.py
current_directory = Path(os.getcwd())
website_base_directory = current_directory.parent.parent.parent
src_directory = website_base_directory / "src"
sys.path.append(str(src_directory)) if str(src_directory) not in sys.path else None

# Import settings.py
from settings import config

# Add configured directories from config to path
SOURCE_DIR = config("SOURCE_DIR")
sys.path.append(str(Path(SOURCE_DIR))) if str(Path(SOURCE_DIR)) not in sys.path else None

# Add other configured directories
BASE_DIR = config("BASE_DIR")
CONTENT_DIR = config("CONTENT_DIR")
POSTS_DIR = config("POSTS_DIR")
PAGES_DIR = config("PAGES_DIR")
PUBLIC_DIR = config("PUBLIC_DIR")
SOURCE_DIR = config("SOURCE_DIR")
DATA_DIR = config("DATA_DIR")
DATA_MANUAL_DIR = config("DATA_MANUAL_DIR")

# Print system path
for i, path in enumerate(sys.path):
    print(f"{i}: {path}")

0: /usr/lib/python313.zip
1: /usr/lib/python3.13
2: /usr/lib/python3.13/lib-dynload
3:
4: /home/jared/python-virtual-envs/general_313/lib/python3.13/site-packages
5: /home/jared/Cloud_Storage/Dropbox/src
6: /home/jared/Cloud_Storage/Dropbox/Websites/jaredszajkowski.github.io_congo/src

In [4]:
from load_data import load_data

In [8]:
tqqq_minute = load_data(
    base_directory=DATA_DIR,
    ticker="TQQQ",
    source="Polygon",
    asset_class="Exchange_Traded_Funds",
    timeframe="minute",
    file_format="pickle",
)

In [9]:
tqqq_minute

,Date,open,high,low,close,volume,vwap,transactions,otc
0,2023-07-28 08:00:00,43.8000,43.8000,43.6300,43.7200,46323.0,43.7390,273,None
1,2023-07-28 08:01:00,43.7200,43.7200,43.6800,43.6900,13151.0,43.7036,138,None
2,2023-07-28 08:02:00,43.7000,43.7100,43.6900,43.7000,7299.0,43.7011,103,None
3,2023-07-28 08:03:00,43.7100,43.7100,43.6900,43.7100,7510.0,43.6986,90,None
4,2023-07-28 08:04:00,43.7100,43.7800,43.7100,43.7800,10476.0,43.7413,120,None
...,...,...,...,...,...,...,...,...,...
561994,2026-01-03 00:55:00,52.4500,52.4600,52.4500,52.4600,1124.0,52.4583,16,None
561995,2026-01-03 00:56:00,52.4600,52.4600,52.4500,52.4503,2833.0,52.4520,20,None
561996,2026-01-03 00:57:00,52.4500,52.4600,52.4500,52.4600,8695.0,52.4572,26,None
561997,2026-01-03 00:58:00,52.4584,52.4600,52.4500,52.4600,6305.0,52.4568,27,None
561998,2026-01-03 00:59:00,52.4598,52.4598,52.4284,52.4301,21439.0,52.4381,124,None

In [22]:
# Display data from 11/13/2025 to 11/16/2025
tqqq_minute[tqqq_minute["Date"].between("2025-11-13 23:00:00", "2025-11-14 09:00:00")]

,Date,open,high,low,close,volume,vwap,transactions,otc
531429,2025-11-13 23:00:00,104.4900,104.8500,104.4900,104.8198,11181.0,104.7392,142,None
531430,2025-11-13 23:01:00,104.8100,105.0500,104.8075,104.9999,17447.0,104.9643,140,None
531431,2025-11-13 23:02:00,105.0085,105.0700,104.9301,104.9500,5823.0,105.0053,66,None
531432,2025-11-13 23:03:00,105.0100,105.0600,104.9801,105.0300,6491.0,105.0109,68,None
531433,2025-11-13 23:04:00,105.0600,105.1000,105.0490,105.0700,8609.0,105.0801,67,None
...,...,...,...,...,...,...,...,...,...
531545,2025-11-14 00:56:00,104.7600,104.7803,104.7600,104.7803,1262.0,104.7617,27,None
531546,2025-11-14 00:57:00,104.7700,104.8204,104.7700,104.7700,4050.0,104.8013,37,None
531547,2025-11-14 00:58:00,104.7800,104.7800,104.7100,104.7300,3364.0,104.7450,42,None
531548,2025-11-14 00:59:00,52.3700,52.3750,52.3500,52.3500,19170.0,52.3664,55,None
531549,2025-11-14 09:00:00,51.5950,51.6900,51.5800,51.6750,64074.0,51.6144,631,None